@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .hover-list {
    @apply before:absolute before:border-b-2  hover:before:opacity-100 before:-bottom-1 before:w-7 before:opacity-0  before:transition-all before:duration-300 hover:before:w-full  before:border-[#FF385C] relative;
  }
  .hover-list-2 {
    @apply before:absolute before:border-b-2  hover:before:opacity-100 before:-bottom-0.5 before:w-7 before:opacity-0  before:transition-all before:duration-300 hover:before:w-full  before:border-[#FF385C] relative;
  }
}
.rdrStaticRange,
.rdrCalendarWrapper,
.rdrDateRangeWrapper,
.rdrInputRanges {
  background-color: #f3f4f6;
}
.rdrInputRanges {
  height: 100%;
}
.rdrStaticRange:hover {
  background-color: #e4e7eb;
}
.animplane {
  animation: fade 0.2s ease-in forwards;
}
.fade {
  animation: fade2 0.4s ease-in-out forwards;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.tr {
  transform: rotateX(180deg);
}
@keyframes fade2 {
  0% {
    transform: translateY(-100%);
  }
  80% {
    opacity: 0.3;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade {
  100% {
    opacity: 1;
  }
}
.rt {
  transform: rotateY(180deg);
}
.hello {
  word-wrap: break-word;
}
.rt > * {
  transform: rotateY(-180deg);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
@keyframes slide {
  80% {
    transform: translateY(-1rem);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.slideup {
  animation: slide 0.3s ease-in-out forwards;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.rc-slider-track {
  background-color: #000 !important;
}
.rc-slider-handle,
.rc-slider-handle-2 {
  background-color: #000 !important;
  border: solid 2px black;
}
.rc-slider-handle-dragging.rc-slider-handle-dragging.rc-slider-handle-dragging {
  border-color: #000000 !important;
  box-shadow: 0 0 0 2px #000000 !important;
}
.rc-slider-handle:focus {
  outline: none;
}
.rc-slider-handle:hover {
  border-color: #000000 !important;
}
.rc-slider-handle:active {
  border-color: #000000 !important;
  box-shadow: 0 0 2px #000000 !important;
}
.rc-slider-handle-click-focused:focus {
  border-color: #000000 !important;
  box-shadow: unset;
}
.rc-slider-rail {
  background-color: #939393;
}
.rc-slider-mark {
  padding-top: 7px;
}
.rc-slider-step span {
  background-color: rgb(0, 0, 0);
  border-color: rgb(0, 0, 0);
}
.rc-slider-handle {
  background-color: #000000;
  border-color: #000000;
}
